body {
   background: #212121;
}

.container {
   max-width: 1270px;
   margin: 0 auto;
   height: 100vh;

   display: none;
}

.main__top {
   height: 100px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   color: Gold;
   text-shadow: 0 0 15px Gold;
   position: relative;
}

.score {
   font-size: 50px;

}

.score-left {
   color: #3c17be;
   text-shadow: 0 0 15px #3c17be;
   position: absolute;
   left: 10%;
   top: 50%;
   transform: translateY(-50%);
}

.score-right {
   color: #ca4d62;
   text-shadow: 0 0 15px #ca4d62;
   position: absolute;
   right: 10%;
   top: 50%;
   transform: translateY(-50%);
}

.timer {
   font-size: 55px;
   color: Gold;
   text-shadow: 0 0 15px Gold;
}

.timer span {
   display: inline-block;
   width: 30px;
}

.main__general {
   height: calc(100vh - 100px);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px 40px;
}

.game-field::before {
   content: '';
   height: 200px;
   width: 200px;
   border-radius: 50%;
   border: 5px solid #c0c0c0;
   position: absolute;
   left: 0;
   top: 50%;
   transform: translate(-50%, -50%);
   overflow: hidden;
}

.game-field::after {
   content: '';
   height: 200px;
   width: 200px;
   border-radius: 50%;
   border: 5px solid #c0c0c0;
   position: absolute;
   right: 0;
   top: 50%;
   transform: translate(50%, -50%);
   overflow: hidden;
}

.field {
   width: 90%;
   height: 100%;
   border-radius: 10px;
   overflow: hidden;
   border: 5px solid #c0c0c0;
   position: relative;

   padding: 0.4em;
   box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #c0c0c0,
      0 0 0.8rem #c0c0c0,
      0 0 2.8rem #c0c0c0,
      inset 0 0 .3rem #c0c0c0;
}

.field::before {
   content: '';
   height: 100%;
   width: 5px;
   background: #c0c0c0;
   position: absolute;
   left: 50%;
   top: 0;
   transform: translateX(-50%);
}

.field::after {
   content: '';
   height: 150px;
   width: 150px;
   border-radius: 50%;
   border: 5px solid #c0c0c0;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.bit-ball {
   height: 60px;
   width: 60px;
   border-radius: 50%;
   position: absolute;
   z-index: 2;
}

.bit-ball--left {
   background: #3c17be;
   animation: pulsate-left 1.5s infinite alternate;
   border: 0.2rem solid #fff;
   padding: 0.4em;
   box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #3c17be,
      0 0 0.8rem #3c17be,
      0 0 2.8rem #3c17be,
      inset 0 0 1.3rem #3c17be;

   top: 10px;
   left: 10px;
}

.bit-ball--right {
   background: #ca4d62;
   animation: pulsate-right 1.5s infinite alternate;
   border: 0.2rem solid #fff;
   padding: 0.4em;
   box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #ca4d62,
      0 0 0.8rem #ca4d62,
      0 0 2.8rem #ca4d62,
      inset 0 0 1.3rem #ca4d62;

   top: 100px;
   right: 10px;
}

.puck {
   background: #c0c0c0;
   animation: pulsate-puck 1.5s infinite alternate;
   border: 0.2rem solid #fff;
   padding: 0.4em;
   box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #c0c0c0,
      0 0 0.8rem #c0c0c0,
      0 0 2.8rem #c0c0c0,
      inset 0 0 1.3rem #c0c0c0;

   top: 100px;
   left: 100px;
}

/* Экран СТАРТ игры */

.welcome {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

   display: none;
}

.welcome__text {
   font-size: 100px;
   font-family: 'Sacramento', cursive;
   animation: pulsate-text 1.5s infinite alternate;

   color: #fff;
   text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;

}

.welcome__btn {
   display: block;
   width: fit-content;
   padding: 7px 15px;
   margin: 0 auto;
   border-radius: 10px;
   font-size: 24px;
   color: #fff;
   border: 1px solid #fff;
   transition: transform 1s cubic-bezier(.18, 1, .24, 1);
   transform: scale(1);
}

@media (any-hover: hover) {
   .welcome__btn:hover {
      transform: scale(1.1);
   }
}

/* Таймер обратного отсчёта */

.timer-reverse {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100vh;
   z-index: 5;
   backdrop-filter: blur(10px);

   display: none;
}

.timer-reverse__content {
   position: absolute;
   left: 50%;
   top: 50%;
   font-size: 100px;
   text-transform: uppercase;
   transform: translate(-50%, -50%);
}

.timer-reverse h2 {
   font-family: "Monoton", Helvetica, sans-serif;
   display: inline;
   font-size: 150px;
   text-transform: uppercase;
   animation: move .5s ease-in-out infinite;
   letter-spacing: 1.5rem;
}

/* экран ГОЛ */

.goal {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100vh;
   z-index: 5;
   backdrop-filter: blur(10px);

   display: none;
}

.goal__content {
   position: absolute;
   left: 50%;
   top: 50%;
   font-size: 100px;
   text-transform: uppercase;
   transform: translate(-50%, -50%);
}

.goal h2 {
   font-family: "Monoton", Helvetica, sans-serif;
   display: inline;
   font-size: 110px;
   text-transform: uppercase;
   animation: move .5s ease-in-out infinite;
   letter-spacing: 1.5rem;
}



/* ======== Конец ИГРЫ ======== */
.endgame {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
}

.winner {
   display: flex;
   justify-content: center;
   margin: 0 100px;
   font-size: 100px;
   font-family: 'Sacramento', cursive;

   color: #fff;
   text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #1c9354,
      0 0 82px #1c9354,
      0 0 92px #1c9354,
      0 0 102px #1c9354,
      0 0 151px #1c9354;
}

.loser {
   display: flex;
   justify-content: center;
   margin: 0 100px;
   font-size: 100px;
   font-family: 'Sacramento', cursive;

   color: #fff;
   text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #9f1616,
      0 0 82px #9f1616,
      0 0 92px #9f1616,
      0 0 102px #9f1616,
      0 0 151px #9f1616;
}

.draw {
   display: flex;
   justify-content: center;
   margin: 0 100px;
   font-size: 100px;
   font-family: 'Sacramento', cursive;

   color: #fff;
   text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #e1ba0b,
      0 0 82px #e1ba0b,
      0 0 92px #e1ba0b,
      0 0 102px #e1ba0b,
      0 0 151px #e1ba0b;
}

.restart__btn {
   display: block;
   width: fit-content;
   padding: 7px 15px;
   margin: 0 auto;
   border-radius: 10px;
   font-size: 24px;
   color: #fff;
   border: 1px solid #fff;
   transition: transform 1s cubic-bezier(.18, 1, .24, 1);
   transform: scale(1);
}

@media (any-hover: hover) {
   .restart__btn:hover {
      transform: scale(1.1);
   }
}


/* ======== Animations =======*/


@supports (-webkit-background-clip: text) {

   @keyframes move {
      0% {
         transform: translate(-30%, 0);
      }

      50% {
         color: transparent;
         background: linear-gradient(7deg, #ffd700 50%, #ffe760 0);
         text-shadow: 5px 5px #558ABB;
         -webkit-background-clip: text;
      }

      100% {
         transform: translate(-30%, 0);
      }
   }
}


@keyframes pulsate-text {

   100% {

      text-shadow:
         0 0 4px #fff,
         0 0 11px #fff,
         0 0 19px #fff,
         0 0 40px #bc13fe,
         0 0 80px #bc13fe,
         0 0 90px #bc13fe,
         0 0 100px #bc13fe,
         0 0 150px #bc13fe;

   }

   0% {

      text-shadow:
         0 0 2px #fff,
         0 0 4px #fff,
         0 0 6px #fff,
         0 0 10px #bc13fe,
         0 0 45px #bc13fe,
         0 0 55px #bc13fe,
         0 0 70px #bc13fe,
         0 0 80px #bc13fe;

   }
}

@keyframes pulsate-left {

   100% {

      box-shadow:
         0 0 4px #fff,
         0 0 11px #fff,
         0 0 19px #fff,
         0 0 40px #3c17be,
         0 0 80px #3c17be,
         0 0 90px #3c17be,
         0 0 100px #3c17be,
         0 0 150px #3c17be;

   }

   0% {

      box-shadow:
         0 0 2px #fff,
         0 0 4px #fff,
         0 0 6px #fff,
         0 0 10px #3c17be,
         0 0 45px #3c17be,
         0 0 55px #3c17be,
         0 0 70px #3c17be,
         0 0 80px #3c17be;

   }
}

@keyframes pulsate-right {

   100% {

      box-shadow:
         0 0 4px #fff,
         0 0 11px #fff,
         0 0 19px #fff,
         0 0 40px #ca4d62,
         0 0 80px #ca4d62,
         0 0 90px #ca4d62,
         0 0 100px #ca4d62,
         0 0 150px #ca4d62;

   }

   0% {

      box-shadow:
         0 0 2px #fff,
         0 0 4px #fff,
         0 0 6px #fff,
         0 0 10px #ca4d62,
         0 0 45px #ca4d62,
         0 0 55px #ca4d62,
         0 0 70px #ca4d62,
         0 0 80px #ca4d62;

   }
}

@keyframes pulsate-puck {

   100% {

      box-shadow:
         0 0 4px #fff,
         0 0 11px #fff,
         0 0 19px #fff,
         0 0 40px #c0c0c0,
         0 0 80px #c0c0c0,
         0 0 90px #c0c0c0,
         0 0 100px #c0c0c0,
         0 0 150px #c0c0c0;

   }

   0% {

      box-shadow:
         0 0 2px #fff,
         0 0 4px #fff,
         0 0 6px #fff,
         0 0 10px #c0c0c0,
         0 0 45px #c0c0c0,
         0 0 55px #c0c0c0,
         0 0 70px #c0c0c0,
         0 0 80px #c0c0c0;

   }
}